body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:63px;
  width:570px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u1 {
  position:absolute;
  left:50px;
  top:24px;
  width:111px;
  height:29px;
  font-size:24px;
  color:#666666;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:50px;
  top:130px;
  width:520px;
  height:316px;
}
.u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:64px;
}
.u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:64px;
}
.u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6 {
  position:absolute;
  left:10px;
  top:9px;
  width:40px;
  height:40px;
}
.u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8 {
  position:absolute;
  left:68px;
  top:13px;
  width:52px;
  height:15px;
}
.u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
.u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
.u10 {
  position:absolute;
  left:68px;
  top:41px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#666666;
}
.u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
}
.u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u12 {
  position:absolute;
  left:191px;
  top:11px;
  width:50px;
  height:20px;
  color:#666666;
}
.u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
.u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:46px;
  word-wrap:break-word;
}
.u14 {
  position:absolute;
  left:186px;
  top:5px;
  width:61px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u15 {
  position:absolute;
  left:64px;
  top:28px;
  width:56px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
