body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:50px;
  width:650px;
  height:1110px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:1110px;
}
#u1 {
  position:absolute;
  left:720px;
  top:50px;
  width:250px;
  height:445px;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:445px;
}
#u2 {
  position:absolute;
  left:12px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:769px;
  top:221px;
  width:27px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:769px;
  top:173px;
  width:27px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:916px;
  top:173px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:730px;
  top:242px;
  width:230px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u10 {
  position:absolute;
  left:769px;
  top:270px;
  width:27px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:730px;
  top:197px;
  width:230px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u13 {
  position:absolute;
  left:769px;
  top:317px;
  width:27px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:920px;
  top:221px;
  width:8px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:916px;
  top:269px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:920px;
  top:317px;
  width:8px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:730px;
  top:337px;
  width:230px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u22 {
  position:absolute;
  left:730px;
  top:289px;
  width:230px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u23 {
  position:absolute;
  left:744px;
  top:173px;
  width:19px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:745px;
  top:219px;
  width:16px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:746px;
  top:315px;
  width:15px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:746px;
  top:268px;
  width:15px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:720px;
  top:505px;
  width:250px;
  height:403px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:403px;
}
#u32 {
  position:absolute;
  left:2px;
  top:194px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:810px;
  top:468px;
  width:78px;
  height:15px;
  text-decoration:underline;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:730px;
  top:151px;
  width:230px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u36 {
  position:absolute;
  left:802px;
  top:114px;
  width:58px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:806px;
  top:97px;
  width:52px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:742px;
  top:82px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:720px;
  top:555px;
  width:250px;
  height:45px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u43 {
  position:absolute;
  left:2px;
  top:15px;
  width:246px;
  word-wrap:break-word;
}
