body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:605px;
  top:1092px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:100px;
  top:1068px;
  width:350px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:1116px;
  width:640px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u5 {
  position:absolute;
  left:100px;
  top:100px;
  width:65px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:100px;
  top:115px;
  width:400px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:383px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:400px;
  height:1px;
}
#u8 {
  position:absolute;
  left:605px;
  top:1165px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:100px;
  top:1146px;
  width:350px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:1189px;
  width:640px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u13 {
  position:absolute;
  left:605px;
  top:1228px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:100px;
  top:1209px;
  width:350px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:1252px;
  width:640px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u18 {
  position:absolute;
  left:605px;
  top:1301px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:100px;
  top:1282px;
  width:350px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:100px;
  top:1325px;
  width:640px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u23 {
  position:absolute;
  left:605px;
  top:1024px;
  width:121px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:100px;
  top:880px;
  width:628px;
  height:158px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:158px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:1048px;
  width:640px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u28 {
  position:absolute;
  left:605px;
  top:836px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:100px;
  top:588px;
  width:628px;
  height:228px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:228px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:860px;
  width:640px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u33 {
  position:absolute;
  left:605px;
  top:544px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:100px;
  top:390px;
  width:628px;
  height:154px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:154px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:568px;
  width:640px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u38 {
  position:absolute;
  left:605px;
  top:344px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:100px;
  top:290px;
  width:628px;
  height:54px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:54px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:368px;
  width:640px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u43 {
  position:absolute;
  left:605px;
  top:240px;
  width:123px;
  height:33px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#999999;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:100px;
  top:142px;
  width:628px;
  height:108px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:108px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:264px;
  width:640px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
