body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:52px;
  top:230px;
  width:10px;
  height:10px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:230px;
  width:10px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:108px;
  top:230px;
  width:10px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:134px;
  top:230px;
  width:10px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:162px;
  top:230px;
  width:10px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:310px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:130px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_img.mouseDown {
}
#u20.mouseDown {
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u22_img.selected {
}
#u22.selected {
}
#u22_img.mouseDown {
}
#u22.mouseDown {
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:190px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u24_img.selected {
}
#u24.selected {
}
#u24_img.mouseDown {
}
#u24.mouseDown {
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:220px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u26_img.selected {
}
#u26.selected {
}
#u26_img.mouseDown {
}
#u26.mouseDown {
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:250px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u28_img.selected {
}
#u28.selected {
}
#u28_img.mouseDown {
}
#u28.mouseDown {
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:280px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u30_img.selected {
}
#u30.selected {
}
#u30_img.mouseDown {
}
#u30.mouseDown {
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:340px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u32_img.selected {
}
#u32.selected {
}
#u32_img.mouseDown {
}
#u32.mouseDown {
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:370px;
  top:280px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u34_img.selected {
}
#u34.selected {
}
#u34_img.mouseDown {
}
#u34.mouseDown {
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:50px;
  top:150px;
  width:16px;
  height:26px;
  font-size:22px;
  color:#CCCCCC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:88px;
  top:150px;
  width:17px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:37px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:126px;
  top:150px;
  width:17px;
  height:26px;
  font-size:22px;
  color:#CCCCCC;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:26px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:180px;
  top:155px;
  width:16px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:223px;
  top:155px;
  width:16px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u44_img.selected {
}
#u44.selected {
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:267px;
  top:155px;
  width:16px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u46_img.selected {
}
#u46.selected {
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:310px;
  top:155px;
  width:16px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u48_img.selected {
}
#u48.selected {
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:391px;
  top:155px;
  width:16px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u50_img.selected {
}
#u50.selected {
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:350px;
  top:153px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u52_img.selected {
}
#u52.selected {
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:50px;
  top:344px;
  width:350px;
  height:26px;
}
.u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
.u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
.u55_img.selected {
}
.u55.selected {
}
.u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
.u57 {
  position:absolute;
  left:60px;
  top:0px;
  width:4px;
  height:15px;
}
.u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:15px;
}
.u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
.u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
.u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
.u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:76px;
  top:319px;
  visibility:hidden;
}
#u61_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u61_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:60px;
  top:-4px;
  width:13px;
  height:23px;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:52px;
  top:398px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u67 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:138px;
  top:406px;
  width:33px;
  height:13px;
  font-size:11px;
  text-decoration:underline;
  color:#0000CC;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:50px;
  top:453px;
  width:240px;
  height:27px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:55px;
  top:454px;
  width:230px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u73 {
  position:absolute;
  left:263px;
  top:455px;
  width:22px;
  height:22px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:50px;
  top:510px;
  width:206px;
  height:23px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:23px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:56px;
  top:514px;
  width:183px;
  height:19px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  position:absolute;
  left:234px;
  top:512px;
  width:19px;
  height:19px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
