body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:460px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:30px;
  width:320px;
  height:220px;
  color:#2D3A4B;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u1 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:277px;
  width:320px;
  height:103px;
  color:#2D3A4B;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:103px;
}
#u3 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:410px;
  width:320px;
  height:360px;
  color:#2D3A4B;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:360px;
}
#u5 {
  position:absolute;
  left:2px;
  top:81px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:360px;
  top:30px;
  width:100px;
  height:220px;
  color:#2D3A4B;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:220px;
}
#u7 {
  position:absolute;
  left:2px;
  top:95px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:360px;
  top:277px;
  width:100px;
  height:103px;
  color:#2D3A4B;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u9 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:360px;
  top:410px;
  width:100px;
  height:103px;
  color:#2D3A4B;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u11 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:360px;
  top:540px;
  width:100px;
  height:103px;
  color:#2D3A4B;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u13 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:360px;
  top:667px;
  width:100px;
  height:103px;
  color:#2D3A4B;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:10px;
  width:283px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
